@page
@model SensitiveDataPage.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
<p>Witaj, @Model.Email</p>
<form method="post" asp-page-handler="Logout">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
