@page
@model SensitiveDataPage.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="wrapper">
    <div class="left">
        Logo - TBD
    </div>

    <div class="right">
        <div class="CommunicationMessage">
            @if (TempData["InfoMessage"] != null)
            {
                <div class="alert alert-info" role="alert">@TempData["InfoMessage"]</div>
            }
            else if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
            }
            else if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
            }
        </div>

        <div class="MainMessage">
            <button class="back-arrow" onclick="history.back()">←</button>
            Reset your password
        </div>

        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email" required />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="submitBtn">Send reset link</button>
        </form>

        <div class="joinUsMessage">
            Remember your password?
        </div>
        <p> <a asp-page="/Login" class="newAccountBtn">Back to login</a> </p>
    </div>
</div>