@page
@model SensitiveDataPage.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="left">
        Logo - TBD
    </div>

    <div class="right">
        <div class="CommunicationMessage">
            @if (TempData["InfoMessage"] != null)
            {
                <div class="alert alert-info" role="alert">@TempData["InfoMessage"]</div>
            }
            else if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
            }
            else if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
            }
        </div>
        <div class="MainMessage">
            Login into Sensitive Data Manager
        </div> 
        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" type="password" placeholder="Password" />
            </div>
            <button type="submit" class="submitBtn">Login</button>
        </form>
        <div class="forgotPasswordBtn"> <a class="forgotPasswordBtn" asp-page="/ForgotPasword">Forgot password?</a> </div>
        <div class="joinUsMessage">
            Join us!
        </div>
        <p> <a asp-page="/Register" class="newAccountBtn">Create new account</a> </p>
    </div>

</div> 
