@page
@model SensitiveDataPage.Pages.PasswordRestartModel
@{
}

<h2 style="text-align:center">Forgot Password</h2>

<div class="CommunicationMessage">
    @if (TempData["InfoMessage"] != null)
    {
        <div class="alert alert-info" role="alert">@TempData["InfoMessage"]</div>
    }
    else if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
    }
</div>

<form method="post" onsubmit="">
    <div class="alert alert-info" role="alert">Provide your new password</div>
    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
    <input asp-for="Input.CheckPassword" class=" form-control" placeholder="Confirm password" />
    <div>   </div>
    <button type="submit" class="submitBtn" style="margin-top: 3%">Restart</button>
</form>

